


@model AppointmentBookingViewModel
@{
    ViewData["Title"] = "AppointmentDetails";
}
<div class="col offset-2 pt-5 ">
    <h1>AppointmentDetails</h1>
    <div class="class=row">
        <div class="class=col-md-5">
            <ul class="list-group">

                <li class="list-group-item"><b>Patient Name:</b>@Model.PatientName</li>
                <li class="list-group-item"><b>Patient Age :</b>@Model.Age</li>
                <li class="list-group-item"><b>Health Issue:</b>@Model.HealthIssue</li>
                <li class="list-group-item"><b>Phone Number:</b>@Model.PatientName</li>
                <li class="list-group-item"><b>Appointment Date:</b>@Model.Date</li>
                <li class="list-group-item"><b>Appointment Time</b>@Model.Time</li>
                <li class="list-group-item"><b>Doctor Name</b>@Model.DoctorName</li>
                <li class="list-group-item"><b>Doctor Specialization:</b>@Model.SpecializationName</li>
            </ul>
            <a asp-controller="Admin" asp-action="Appointment" class="btn btn-danger">Go Back</a>

        </div>
    </div>
</div>
