@model IEnumerable<DoctorViewModel>
@{
    ViewData["Title"] = "Doctors";
}



<div class="class=row">
    <h1>Doctors</h1>
    <div class="class=col-md-5">
        <a asp-controller="Doctor" asp-action="create" class="btn btn-dark">Add New Doctor </a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Specialization Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.DoctorName</td>
                        <td> @item.Specialization</td>
                        <td>
                            <a asp-controller="Admin" asp-action="Details" class="btn btn-dark" asp-route-id="@item.Id">Details</a>
                            <a asp-controller="Doctor" asp-action="Edit" class="btn btn-dark" asp-route-id="@item.Id">Update</a>
                            <a asp-controller="Doctor" asp-action="Delete" class="btn btn-dark" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Admin" asp-action="index" class="btn btn-dark">Back</a>
    </div>
</div>

