@model IEnumerable<AppointmentBookingViewModel>

@{
    ViewData["Title"] = "Index";
}




<div class="class=row">
    <h1>Appointments</h1>
    <a asp-controller="AppointmentBooking" asp-action="create" class="btn btn-dark">Book Appointment</a>

    <div class="class=col-md-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Doctor Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td> @item.Date.ToShortDateString()</td>

                    <td> @item.DoctorName</td>
                    <td>
                        <a asp-controller="AppointmentBooking" asp-action="Details" class="btn btn-dark" asp-route-id="@item.Id">Details</a>
                        <a asp-controller="AppointmentBooking" asp-action="edit" class="btn btn-dark" asp-route-id="@item.Id">Update</a>
                        <a asp-controller="AppointmentBooking" asp-action="delete" class="btn btn-dark" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <a asp-controller="patient" asp-action="patient_home" class="btn btn-dark" >Back</a>

    </div>
</div>


 